header {
    
    margin-top: 2%;
    margin-bottom: 2%;
    margin-right: 2%;
    margin-left: 2%;
}

.contents-view {
    float: left;
    background-color: beige;
    padding: 10px;
    margin: 2%;
}
.filler-text {
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    width: 90%;
    display: grid;
    gap: 5%;
    grid-auto-flow: column;
    grid-auto-columns: 45%;
}
.user-menu {
    float: left;
    display: grid;
    width: 10%;
}

.main-filler {
    padding: 4%;
    background-color:darkgrey;
}

button {
    margin: 10px;
    padding: 10px;
    border: 0px;
}
.login_buttons {
     margin-top: 2%;
    margin-bottom: 2%;
    margin-right: 2%;
    margin-left: 2%;
    float: right;
}
.login-box {
    margin:auto;
    width: 30%;
    padding: 3%;
    background-color: antiquewhite;
}
img {
    height: 150px;
}